---
import Image from "astro/components/Image.astro";
import perfilImg from "../assets/perfil2.webp";
import python from "../assets/python.webp";
import java from "../assets/java.webp";
import js from "../assets/js.webp";
import react from "../assets/react.webp";
import mongo from "../assets/mongo.webp";
import mysql from "../assets/mysql.webp";
---

<section id="about" class="sectionAbout">
  <div class="card">
    <div class="imgContainer">
      <Image
        src={perfilImg}
        alt="Portfolio de actor"
        loading="lazy"
        class="img"
      />
    </div>
    <div class="descContainer">
      <h2>
        Estudiante avanzado en Tecnicatura Universitaria en Programación | UTN
      </h2>
      <span id="bar"></span>
      <p>
        Apasionado por el desarrollo de software y la resolución de problemas
        complejos. <br />Siempre en busca de nuevos desafíos que me permitan
        aprender y crecer como profesional
      </p>
      <div class="techsContainer">
        <ul>
          <li id="python" class="techs">
            <Image
              src={python}
              alt="Portfolio de actor"
              loading="lazy"
              class="img"
            />
          </li>
          <li>
            <li id="java" class="techs">
              <Image
                src={java}
                alt="Portfolio de actor"
                loading="lazy"
                class="img"
              />
            </li>
            <li>
              <li id="js" class="techs">
                <Image
                  src={js}
                  alt="Portfolio de actor"
                  loading="lazy"
                  class="img"
                />
              </li>
              <li>
                <li id="react" class="techs">
                  <Image
                    src={react}
                    alt="Portfolio de actor"
                    loading="lazy"
                    class="img"
                  />
                </li>
                <li>
                  <li id="mongo" class="techs">
                    <Image
                      src={mongo}
                      alt="Portfolio de actor"
                      loading="lazy"
                      class="img"
                    />
                  </li>
                  <li>
                    <li id="mysql" class="techs">
                      <Image
                        src={mysql}
                        alt="Portfolio de actor"
                        loading="lazy"
                        class="img"
                      />
                    </li>
                  </li>
                </li>
              </li>
            </li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .sectionAbout {
    width: 100%;
    height: 400px;
    background-color:;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 80%;
    height: 350px;
    background-color: #2c3853;
    border: 5px solid #57637e;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgContainer {
    width: 40%;
    background-color: aliceblue;
    height: 100%;
    overflow: hidden;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .descContainer {
    width: 60%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  #bar {
    border: 2px solid #1f273a;
    width: 90%;
    height: 2px;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: start;
    align-items: center;
    gap: 15px;
  }

  .techs {
    width: 40px;
  }

  @media (min-width: 1600px) {
    .card {
      width: 70%;
    }

    p {
      font-size: 20px;
    }
  }

  @media (max-width: 1120px) {
    #about {
      display: none;
    }
  }
</style>
