---
import Image from "astro/components/Image.astro";
import python from "../assets/python.webp";
import java from "../assets/java.webp";
import js from "../assets/js.webp";
import react from "../assets/react.webp";
import mongo from "../assets/mongo.webp";
import mysql from "../assets/mysql.webp";
---

<section id="about" class="sectionAbout">
  <div class="card">
    <div class="imgContainer">
      <img
      src="images/perfil2.webp"
      class="img"
      alt="Tomás Romero, programador y desarrollador de software, estudiante de la Tecnicatura Universitaria en Programación UTN especializado en Python, JavaScript y React"
    />
    </div>
    <div class="descContainer">
      <h2>
        Estudiante avanzado en Tecnicatura Universitaria en Programación | UTN
      </h2>
      <span id="bar"></span>
      <p>
        Apasionado por el desarrollo de software y la resolución de problemas
        complejos. <br />Siempre en busca de nuevos desafíos que me permitan
        aprender y crecer como profesional
      </p>
      <div class="techsContainer">
        <ul>
          <li id="python" class="techs">
            <Image
              src={python}
              alt="Logo de Python"
              loading="lazy"
              class="img"
            />
          </li>
          <li>
            <li id="java" class="techs">
              <Image src={java} alt="Logo de Java" loading="lazy" class="img" />
            </li>
            <li>
              <li id="js" class="techs">
                <Image
                  src={js}
                  alt="Logo de JavaScript"
                  loading="lazy"
                  class="img"
                />
              </li>
              <li>
                <li id="react" class="techs">
                  <Image
                    src={react}
                    alt="Logo de React"
                    loading="lazy"
                    class="img"
                  />
                </li>
                <li>
                  <li id="mongo" class="techs">
                    <Image
                      src={mongo}
                      alt="Logo de MongoDB"
                      loading="lazy"
                      class="img"
                    />
                  </li>
                  <li>
                    <li id="mysql" class="techs">
                      <Image
                        src={mysql}
                        alt="Logo de MySql"
                        loading="lazy"
                        class="img"
                      />
                    </li>
                  </li>
                </li>
              </li>
            </li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .sectionAbout {
    width: 100%;
    height: 500px;
    background-color:;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 80%;
    height: 350px;
    background-color: #2c3853;
    border: 5px solid #57637e;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgContainer {
    width: 40%;
    background-color: aliceblue;
    height: 100%;
    overflow: hidden;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .descContainer {
    width: 60%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  #bar {
    border: 2px solid #1f273a;
    width: 90%;
    height: 2px;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: start;
    align-items: center;
    gap: 15px;
  }

  .techs {
    width: 40px;
  }

  @media (min-width: 1600px) {
    .card {
      width: 70%;
    }

    p {
      font-size: 20px;
    }
  }

  

  @media (max-width: 1120px) {

    #about{
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: start;
    }

    .card{
      flex-direction: column;
      width: 70%;
      height: fit-content;
      margin: 10vh 0;
    }

    .imgContainer {
    width: 100%;
    height: 400px;
  }

  .descContainer {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .techsContainer ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 0;
  }

  .techsContainer{
    width: 100%;
  }

  #bar {
    width: 100%;
  }
    h2{
      font-size: 20px;
      font-weight: bold;
    }

    p{
      font-size: 14px;
    }


    @media (max-width: 550px) {

      #about{
        margin: 10vh 0 0 0;
      }

      .descContainer{
        padding: 10px;
      }

      .imgContainer {
    height: 250px;
  }

  h2{
    font-size: 18px;
  }

  p{
    font-size: 14px;
  }

      .techsContainer ul{
        gap: 5px;
      }

    }

    @media (max-width: 378px) {

      h2{
        font-size: 14px;
      }

      p{
        font-size: 12px;
      }
    }

    @media (min-width: 900px) and (max-width: 1200px) {

    #about{
      height: 1200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .card{
      height: fit-content; 
      justify-content: start;
    }

    .descContainer{
      height: 40%;
      width: 90%;
      padding: 0;
      margin: 10px;
    }

    h2{
      font-size: 30px;
    }  
    p {
      font-size: 18px;
    }
}
    

</style>
