---
import Image from "astro/components/Image.astro";
import python from "../assets/python.webp";
import java from "../assets/java.webp";
import js from "../assets/js.webp";
import react from "../assets/react.webp";
import mongo from "../assets/mongo.webp";
import mysql from "../assets/mysql.webp";
---

<section id="about" class="sectionAbout">
  <div class="card">
    <div class="imgContainer">
      <img
      src="images/perfil2.webp"
      class="img"
      alt="Tomás Romero, programador y desarrollador de software, estudiante de la Tecnicatura Universitaria en Programación UTN especializado en Python, JavaScript y React"
    />
    </div>
    <div class="descContainer">
      <h2>
        Estudiante Avanzado en Tecnicatura Universitaria en Programación | UTN
      </h2>
      <span id="bar"></span>
      <p>
      Apasionado por el desarrollo de software y la resolución de problemas complejos.
      </p>
      <div class="estudiosContainer">
        <div>
          <span class="estudiosTiempo">ESTUDIANDO AHORA</span>
          <p>Tec. Univ. en Programación</p>
          <span class="estudiosUniversidad">UTN - Último cuatrimestre</span>
        </div>
        <i class="fa-solid fa-arrow-right"></i>
        <i class="fa-solid fa-arrow-down"></i>
        <div>
          <span class="estudiosTiempo"    >PRÓXIMO PASO</span>
          <p>Lic. en Ciencias de Datos (CCC)</p>
          <span class="estudiosUniversidad">Universidad de la Ciudad de Buenos Aires</span>
        </div>
      </div>
      <!-- <p>
      Apasionado por el desarrollo de software y la resolución de problemas complejos. Actualmente cursando el <b>último cuatrimestre</b> de la Tecnicatura Universitaria en Programación en la UTN, con planes de continuar hacia la <b>Licenciatura en Ciencias de Datos</b> en la Universidad de la Ciudad de Buenos Aires.
      </p> -->
      <div class="techsContainer">
        <ul>
          <li id="python" class="techs">
            <Image
              src={python}
              alt="Logo de Python"
              loading="lazy"
              class="img"
            />
          </li>
          <li>
            <li id="java" class="techs">
              <Image src={java} alt="Logo de Java" loading="lazy" class="img" />
            </li>
            <li>
              <li id="js" class="techs">
                <Image
                  src={js}
                  alt="Logo de JavaScript"
                  loading="lazy"
                  class="img"
                />
              </li>
              <li>
                <li id="react" class="techs">
                  <Image
                    src={react}
                    alt="Logo de React"
                    loading="lazy"
                    class="img"
                  />
                </li>
                <li>
                  <li id="mongo" class="techs">
                    <Image
                      src={mongo}
                      alt="Logo de MongoDB"
                      loading="lazy"
                      class="img"
                    />
                  </li>
                  <li>
                    <li id="mysql" class="techs">
                      <Image
                        src={mysql}
                        alt="Logo de MySql"
                        loading="lazy"
                        class="img"
                      />
                    </li>
                  </li>
                </li>
              </li>
            </li>
          </li>
          <!-- <button class="btnCv">
          <title>Descargar CV</title>
          <span>Descargar CV</span>
          <svg
            class="svgDownload"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            aria-label="download"
          >
            <path
              fill="currentColor"
              d="m12 16l-5-5l1.4-1.45l2.6 2.6V4h2v8.15l2.6-2.6L17 11zm-6 4q-.825 0-1.412-.587T4 18v-3h2v3h12v-3h2v3q0 .825-.587 1.413T18 20z"
            ></path>
          </svg>
        </button> -->
        </ul>
        
      </div>
      
    </div>
  </div>
</section>

<style>
  .sectionAbout {
    width: 100%;
    height: 500px;
    background-color:;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
  width: 80%;
  height: 450px;
  background: rgba(44, 56, 83, 0.35);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); 
  border: 4px solid rgba(120, 180, 255, 0.3);
  box-shadow:
    0 0 25px rgba(0, 200, 255, 0.25),
    inset 0 0 20px rgba(255, 255, 255, 0.05);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

  .imgContainer {
    width: 40%;
    background-color: aliceblue;
    height: 100%;
    overflow: hidden;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .descContainer {
    width: 60%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  h2 {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
  }

  #bar {
    border: 2px solid #ffffff8d;
    width: 100%;
    height: 2px;
  }

  p {
    font-size: 16px;
  }


  .estudiosContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
  }

  .estudiosContainer div{
    background-color: rgba(250, 235, 215, 0.05);
    border-radius: 10px;
    padding: 10px;
  }

  .estudiosTiempo{
    color: rgba(120, 180, 255);
    font-size: 14px;
    font-weight: bold;
  }

  .estudiosContainer p{
    font-weight: bold;
    color: rgb(229, 229, 229);
  }

  .estudiosUniversidad{
    color: rgba(148, 174, 213)
  }

  .fa-arrow-right{
    font-size: 30px;
    color: rgba(120, 180, 255);
    transition: all .2s ease;
  }

  .fa-arrow-down{
    display: none;
    font-size: 30px;
    color: rgba(120, 180, 255);
    transition: all .2s ease;
  }

  .fa-arrow-right:hover{
    transform: scale(1.2);
    color: rgb(255, 255, 255);
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: start;
    align-items: center;
    gap: 15px;
  }

  .techs {
    width: 40px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-family: "Archivo";
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    padding: 3px 20px;
    background-color: rgb(61, 108, 178);
    border-radius: 5px;
    border: none;
    transition: all ease 0.4s;
  }

  @media (min-width: 1600px) {
    .card {
      width: 70%;
    }

    p {
      font-size: 20px;
    }
  }

  

  @media (max-width: 1120px) {

    #about{
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: start;
    }

    .card{
      flex-direction: column;
      width: 80%;
      height: fit-content;
      margin: 10vh 0;
    }

    .imgContainer {
    width: 100%;
    height: 400px;
  }

  .descContainer {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .techsContainer ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 0;
  }

  .techsContainer{
    width: 100%;
  }

  #bar {
    width: 100%;
  }
    h2{
      font-size: 20px;
      font-weight: bold;
    }

    p{
      font-size: 14px;
    }

    .fa-arrow-right{
      display: none;
    }

    .fa-arrow-down{
      display: block;
      margin: 10px;
    }
    


    @media (max-width: 550px) {

      #about{
        margin: 10vh 0 0 0;
      }

      .card{
        height: 700px;
      }

      .descContainer{
        padding: 15px;
      }

      .imgContainer {
        height: 250px;

  }

      h2{
        font-size: 18px;
        width: 100%;
      }

      p{
        font-size: 14px;
      }

          .techsContainer ul{
            gap: 5px;
          }

        }

      .estudiosContainer{
        flex-direction: column;
      }

      .estudiosContainer div{
        width: 100%;
      }

    @media (max-width: 378px) {

      h2{
        font-size: 14px;
      }

      p{
        font-size: 12px;
      }
    }

    @media (min-width: 900px) and (max-width: 1200px) {

    #about{
      height: 1200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .card{
      height: fit-content; 
      justify-content: start;
    }

    .descContainer{
      height: 40%;
      width: 90%;
      padding: 0;
      margin: 10px;
    }

    h2{
      font-size: 30px;
    }  
    p {
      font-size: 18px;
    }

    
}
    

</style>
